<%= simple_form_for(@pay_roll) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_date, label: (t :start_date) %>
    <%= f.input :end_date, label: (t :end_date) %>
    <%= f.association :greenhouse, label: (t :greenhouse) %>
  </div>

  <div class="form-actions">
    <%= f.submit (t :create_pay_roll), class: "btn btn-default" %>
  </div>
<% end %>
