<h1><%=t :listing_pay_rolls %></h1>

<div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th><%= t :start_date %></th>
        <th><%= t :end_date %></th>
        <th><%= t :greenhouse %></th>
        <th><%= t :subtotal %></th>
        <th><%= t :discount %></th>
        <th><%= t :bonus %></th>
        <th><%= t :total %></th>
        <th><%= t :payed %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pay_rolls.each do |pay_roll| %>
        <tr>
          <td><%= pay_roll.id %></td>
          <td><%= pay_roll.start_date %></td>
          <td><%= pay_roll.end_date %></td>
          <td><%= pay_roll.greenhouse.name unless pay_roll.greenhouse.nil? %></td>
          <td class="alnright"><%= number_to_currency(pay_roll.subtotal, precision: 2) %></td>
          <td class="alnright"><%= number_to_currency(pay_roll.discount, precision: 2) %></td>
          <td class="alnright"><%= number_to_currency(pay_roll.bonus, precision: 2) %></td>
          <td class="alnright"><%= number_to_currency(pay_roll.total, precision: 2) %></td>
          <td><%= pay_roll.payed %></td>
          <td><%= link_to (t :show), pay_roll %></td>
          <td><%= link_to (t :destroy), pay_roll, method: :delete, data: { confirm: (t :are_you_sure) } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="col-md-8"></div>
<div class="col-md-2 pull-right"><%= number_to_currency(@pay_rolls.sum(:total), decimal: 2) %></div>
<div class="col-md-2 pull-right"><strong>Total:</strong></div>

<br>

<%= link_to (t :new_pay_roll), new_pay_roll_path %>
