<h1>Listing pay_rolls</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Pay roll item</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Subtotal</th>
      <th>Discount</th>
      <th>Bonus</th>
      <th>Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pay_rolls.each do |pay_roll| %>
      <tr>
        <td><%= pay_roll.id %></td>
        <td><%= pay_roll.pay_roll_item_ids %></td>
        <td><%= pay_roll.start_date %></td>
        <td><%= pay_roll.end_date %></td>
        <td><%= pay_roll.subtotal %></td>
        <td><%= pay_roll.discount %></td>
        <td><%= pay_roll.bonus %></td>
        <td><%= pay_roll.total %></td>
        <td><%= link_to 'Show', pay_roll %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-md-8"></div>
<div class="col-md-2 pull-right"><%= number_to_currency(@pay_rolls.sum(:total), decimal: 2) %></div>
<div class="col-md-2 pull-right"><strong>Total:</strong></div>

<br>

<%= link_to 'New Pay roll', new_pay_roll_path %>
