<h1>Listing employees</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>First name</th>
      <th>Second name</th>
      <th>Last name</th>
      <th>Second last name</th>
      <th>Salary</th>
      <th>Greenhouses</th>
      <th>Job position</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.first_name %></td>
        <td><%= employee.second_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.second_last_name %></td>
        <td><%= employee.salary %></td>
        <td>
          <% employee.greenhouses.each do |greenhouse| %>
            <%= greenhouse.name %><br>
          <% end %>
        </td>
        <td><%= employee.job_position.name unless employee.job_position.nil? %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
