<p id="notice"><%= notice %></p>

<% if @show_operating_costs == true  %>
  <h1>Listing Operating Costs</h1>

  <div class="table-responsive">
    <table class="table table-hover dataTable table-striped table-bordered">
      <thead>
        <tr>
          <th>Greenhouse</th>
          <th>Event date</th>
          <th>Concept</th>
          <th>Display</th>
          <th>Unit price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Images</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="operating_costs">
        <% @operating_costs.each do |operating_cost| %>
          <%= render "operating_cost", :operating_cost => operating_cost %>
        <% end %>
      </tbody>
    </table>
  </div>

  <br>


  <div class="col-md-8">
    <br>
    <strong>Total:</strong>
    <div id="operating_cost_total"><strong><%= number_to_currency(@operating_costs.sum(:total), precision: 2) %></strong></div>
    <br><br>
  </div>

  <br>
  <br>
  <div class="col-md-8">
    <%= link_to 'New Operating cost', new_operating_cost_path, remote: true, id: 'new_operating_cost_link' %>
  </div>

  <br>
  <div class="col-md-5" id="div_new_operating_cost_form">
    <%= simple_form_for(@operating_cost, remote: true, html: { id: 'new_operating_cost_from' }) do |f| %>
      <%= f.error_notification %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="form-inputs">
        <%= f.association :greenhouse, :as => :hidden, input_html: { value: @greenhouse.id } %>
        <%= f.input :event_date %>
        <%= f.input :concept %>
        <%= f.input :display %>
        <%= f.input :unit_price %>
        <%= f.input :quantity %>
        <%= f.input :image1, as: :file %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, id: 'new_operating_cost_submit_button' %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="col-md-2">
    <%= simple_form_for :search, url: operating_costs_path, :method => :get do |f| %>
        <%= f.input :company_id, collection: @companies, label_method: :name, value_method: :id, placeholder: 'Select the company' %>
        <%= f.input :greenhouse_id, collection: @greenhouses, label_method: :name, value_method: :id, placeholder: 'Select the company' %>
        <%= f.submit 'Generar', class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
