<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <div class="col-md-4">
    <strong>Greenhouse:</strong>
    <%= @fertigation.greenhouse.name %>
  </div>

  <div class="col-md-4">
    <strong>Fertigation datetime:</strong>
    <%= @fertigation.fertigation_datetime %>
  </div>
</div>

<div class="col-md-8">
  <div class="col-md-4">
    <strong>Tank:</strong>
    <%= @fertigation.tank %>
    </div>
</div>

<div class="col-md-8">
  <div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
      <thead>
        <tr>
          <th>Application product</th>
          <th>Unit measure</th>
          <th>Fertilizer quantity</th>
          <th>Concentration</th>
          <th>Injection rate</th>
          <th>Fertilizer cost per unit</th>
          <th>Cost</th>
          <th></th>
        </tr>
      </thead>

      <tbody id="fertigation_items">
        <% @fertigation_items.each do |fertigation_item| %>
          <%= render 'fertigation_item', :fertigation_item => fertigation_item %>
        <% end %>
      </tbody>
    </table>
    </div>

  <br>

  <%= link_to 'New Fertigation item', new_fertigation_item_path, remote: true, id: 'new_fertigation_item_link' %>

  <div class="col-md-8" id="div_new_fertigation_item_form">
    <%= simple_form_for(@fertigation_item, remote: true, html: { id: 'new_fertigation_item_link' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :fertigation, :as => :hidden, input_html: { value: @fertigation.id } %>
        <%= f.association :application_product, collection: ApplicationProduct.where("quantity_available > ?", 0).order(:name), label_method: :name_quantity_available, value_method: :id %>
        <%= f.association :unit_type, collection: @unit_types, label_method: :name_abbreviation, value_method: :id %>
        <%= f.input :fertilizer_quantity %>
        <!-- Lo dejaremos pendiente hasta saber como utilizarlo
        <%= f.input :injection_rate %> -->
      </div>

      <div class="form-actions">
        <%= f.button :submit, id: 'new_fertigation_item_submit_button' %>
      </div>
    <% end %>
</div>

</div>

<div class="col-md-8">
<br>
<br>
<br>
  <div class="col-md-4">
    <strong>Total cost:</strong>
    <div id="fertigation_cost"><strong><%= number_to_currency(@fertigation.total_cost, precision: 2) %></strong></div>
  </div>
</div>

<div class="col-md-8">
<br>
<br>
  <%= link_to 'Edit', edit_fertigation_path(@fertigation) %> |
  <%= link_to 'Back', fertigations_path %>
</div>
