<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <div class="col-md-4">
    <strong>Application date:</strong>
    <%= @application.application_date %>
    <br>
  </div>

  <div class="col-md-4">
    <strong>Application process:</strong>
    <%= @application.application_process.name %>
    <br>
  </div>
</div>

<div class="col-md-8">
  <div class="col-md-4">
    <strong>Greenhouse:</strong>
    <%= @application.greenhouse.name %>
    <br>
  </div>

  <div class="col-md-4">
    <strong>Purpose:</strong>
    <%= @application.purpose %>
    <br>
  </div>
</div>



<div class="col-md-8">
  <br>
  <br>
  <div class="table-responsive">
    <table  class="table table-hover dataTable table-striped table-bordered">
      <thead>
        <tr>
          <th>Application product</th>
          <th>Unit of measure</th>
          <th>Quantity per L of water</th>
          <th>Liters of water</th>
          <th>Total product used</th>
          <th>Cost per unit</th>
          <th>Total cost</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody id="application_items">
        <% @application.application_items.each do |application_item| %>
          <%= render 'application_item', :application_item => application_item %>
        <% end %>
      </tbody>
    </table>
  </div>


  <%= link_to 'New Application item', new_application_item_path, remote: true, id: 'new_application_item_link' %>

  <div class="col-md-8" id="div_new_application_item_form">
    <%= simple_form_for(@application_item, remote: true, html: { id: 'application_item_form' }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.association :application, :as => :hidden, input_html: { value: @application.id } %>
        <%= f.association :application_product, collection: ApplicationProduct.where("quantity_available > ?", 0), :label_method => :name_quantity_available, value_method: :id %>
        <%= f.association :unit_type %>
        <%= f.input :total_product_used %>
        <%= f.input :h2o_quantity_liters, label: 'Water quantity' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, id: 'new_application_item_submit_button' %>
      </div>
    <% end %>
  </div>

</div>

<div class="col-md-8">
<br>
<br>
<br>
  <strong>Application cost:</strong>
  <div id="application_cost"><%= number_to_currency(@application.application_cost, precision: 2) %></div>
  <br>
</div>

<div class="col-md-8">
<br>
  <%= link_to 'Edit', edit_application_path(@application) %> |
  <%= link_to 'Back', applications_path %>
</div>