<p id="notice"><%= notice %></p>

<h1>User Companies</h1>

<table class="table table-hover dataTable table-striped table-bordered">
  <thead>
    <tr>
      <th>User</th>
      <th>Company</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="user_companies">
    <% @user_companies.each do |user_company| %>
      <%= render "user_company", :user_company => user_company %>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-md-8">
  <%= link_to 'New User Company', new_user_company_path, remote: true, id: 'new_user_company_link' %>
</div>


<br>
<div class="col-md-5" id="div_new_user_company_form">
  <%= simple_form_for(@user_company, remote: true, html: { id: 'new_user_company_from' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.association :user, label_method: :email, value_method: :id %>
      <%= f.association :company, label_method: :name, value_method: :id %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, id: 'new_user_company_submit_button' %>
    </div>
  <% end %>

</div>
