<%= simple_form_for(@selection_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product_quality %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
