<p id="notice"><%= notice %></p>

<h1><%=t :listing_application_products %></h1>

<div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
    <thead>
      <tr>
        <th><%=t :name %></th>
        <th><%=t :description %></th>
        <th><%=t :unit_of_measure %></th>
        <th><%=t :quantity_available %></th>
        <th><%=t :unit_cost %></th>
        <th><%=t :total_cost %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="application_products">
      <% @application_products.each do |application_product| %>
        <%= render "application_product", :application_product => application_product %>
      <% end %>
    </tbody> 
  </table>
</div>

<br>

<div id="div_application_products_form">
  <%= simple_form_for(@application_product, remote: true, html: { id: 'application_product_form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name, label: t(:name ) %>
      <%= f.input :description, label: t(:description ) %>
      <%= f.association :unit_type, label: t(:unit_of_measure ) %>
    </div>

    <div class="form-actions">
      <%= f.submit t(:create_new_product), id: 'new_application_product_submit_button', class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


<br>

<%= link_to t(:add_product), new_application_product_path, remote: true, id: "new_application_product_link" %>
