<p id="notice"><%= notice %></p>

<h1>Listing Application Products</h1>

<div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Units of measure</th>
        <th>Quantity available</th>
        <th>Unit Cost</th>
        <th>Total Cost</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="application_products">
      <% @application_products.each do |application_product| %>
        <%= render "application_product", :application_product => application_product %>
      <% end %>
    </tbody> 
  </table>
</div>

<br>

<div id="div_application_products_form">
  <%= simple_form_for(@application_product, remote: true, html: { id: 'application_product_form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :unit_type %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, id: 'new_application_product_submit_button' %>
    </div>
  <% end %>
</div>


<br>

<%= link_to 'New Application product', new_application_product_path, remote: true, id: "new_application_product_link" %>
