

    <tr id="application_item_<%= application_item.id %>">
          <td><%= application_item.application_product.name %></td>
          <td><%= application_item.unit_type.name unless application_item.unit_type.nil? %></td>
          <td class="alnright"><%= number_with_precision(application_item.quantity, precision: 2, delimiter: ',') %></td>
          <td class="alnright"><%= number_with_precision(application_item.h2o_quantity_liters, precision: 2, delimiter: ',') %></td>
          <td class="alnright"><%= number_with_precision(application_item.total_product_used, precision: 2, delimiter: ',') %> <%= application_item.application_product.unit_type.abbreviation %></td>
          <td class="alnright"><%= number_to_currency(application_item.cost_per_unit, precision: 2, delimiter: ',') %></td>
          <td class="alnright"><%= number_to_currency(application_item.total_cost, precision: 2, delimiter: ',') %></td>
          <td><%= link_to 'Destroy', application_item, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
        </tr>