
      <tr id="assistance_<%= assistance.id %>">
        <td><%= assistance.employee.first_name %></td>
        <td><%= assistance.assistance_date %></td>
        <td><%= assistance.assisted %></td>
        <td><%= link_to 'Destroy', assistance, method: :delete, remote: true, data: { confirm: 'Confirmar eliminacion?' } %></td>
      </tr>
