<h1><%=t :listing_assistances %></h1>

<div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
    <thead>
      <tr>
        <th><%=t :greenhouse %></th>
        <th><%=t :employee %></th>
        <th><%=t :assistance_date %></th>
        <th><%=t :assisted %></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="assistances">
      <% @assistances.each do |assistance| %>
        <%= render "assistance", :assistance => assistance %>
      <% end %>
    </tbody>
  </table>
</div>

<br>


<div id="div_assistances_form">
  <%= simple_form_for(@assistance, remote: true, html: { id: 'assistances_form' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.association :greenhouse, label: t(:greenhouse) %>
      <%= f.association :employee, collection: Employee.order(:first_name), label: t(:employee), label_method: :first_name, value_method: :id %>
      <%= f.input :assistance_date, label: t(:assistance_date) %>
      <%= f.input :assisted, label: t(:assisted) %>
    </div>

    <div class="form-actions">
      <%= f.submit t(:create_assistance), id: "new_assistance_submit_button", class: 'btn btn-default' %>
    </div>
  <% end %>
</div>


<%= link_to t(:new_assistance), new_assistance_path, remote: true, id: "new_assistance_link" %>
