

<% if @show_events == true %>
<p id="notice"><%= notice %></p>

  <h1>Events</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody id="events">
      <% @events.each do |event| %>
        <%= render "event", :event => event %>
      <% end %>
    </tbody>
  </table>

  <br>

  <div id="calendar"></div>

  <div class="col-md-8">
    <%= link_to 'New Event', new_event_path, remote: true, id: 'new_event_link' %>
  </div>


  <br>
  <div class="col-md-5" id="div_new_event_form">
    <%= simple_form_for(@event, remote: true, html: { id: 'new_event_from' }) do |f| %>
      <%= f.error_notification %> 
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <div class="form-inputs">
        <%= f.association :company, :as => :hidden, input_html: { value: @current_company.id } %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :start_time %>
        <%= f.input :end_time %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, id: 'new_event_submit_button' %>
      </div>
    <% end %>

  </div>


<% else %>
  <!-- Search form -->
  <div class="col-md-2">
    <%= simple_form_for :search, url: events_path, :method => :get do |f| %>
        <%= f.input :company_id, collection: @companies, label_method: :name, value_method: :id, placeholder: 'Select the company' %>
        <%= f.input :month_start, as: :date, required: true, placeholder: 'From' %>
        <%= f.input :month_end, as: :date, required: true, placeholder: 'To' %>
        <%= f.submit 'Enviar', class: 'btn btn-default' %>
    <% end %>
  </div>
  <!-- Ends search form -->
<% end %>