	  <tr id="sale_item_<%= sale_item.id %>">
        <td><%= sale_item.product_quality.name %></td>
        <td><%= sale_item.quantity %></td>
        <td><%= sale_item.unit_price %></td>
        <td><%= sale_item.total_price %></td>
        <td><%= sale_item.status %></td>
        <td><%= link_to (t :destroy), sale_item, method: :delete, remote: true, data: { confirm: (t :are_you_sure) } %></td>
      </tr>