<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @sale_item.sale_id %>
</p>

<p>
  <strong>Product quality:</strong>
  <%= @sale_item.product_quality_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @sale_item.quantity %>
</p>

<p>
  <strong>Unit price:</strong>
  <%= @sale_item.unit_price %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @sale_item.total_price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @sale_item.status %>
</p>

<%= link_to 'Edit', edit_sale_item_path(@sale_item) %> |
<%= link_to 'Back', sale_items_path %>
