<%= simple_form_for(@pay_roll_item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.association :pay_roll, :as => :hidden, input_html: { value: @pay_roll.id } %>
  	<%= f.association :employee, label: (t :employee), collection: @employees, label_method: :full_name, value_method: :id %>
  	<%= f.input :salary, label: (t :salary), :input_html => { :value => '0.0' }%>
    <%= f.input :discounts, label: (t :discounts), :input_html => { :value => '0.0' } %>
    <%= f.input :bonuses, label: (t :bonuses), :input_html => { :value => '0.0' } %>
  </div>

  <div class="form-actions">
    <%= f.submit (t :add_employee), class: 'btn btn-default' %>
  </div>
<% end %>
<br>
<%= @assistances.count %>
<%= @employee_ids.count %>
<%= @employees.count %>
<br>
