    <tr  id="pay_roll_item_<%= pay_roll_item.id %>">
            <td><%= pay_roll_item.employee.first_name %></td>
            <td>
              <% pay_roll_item.assistances.each do |assistance| %>
                <%= assistance.assistance_date.strftime('%a') %>
              <% end %>
            </td>
            <td><%= pay_roll_item.total_assistances %></td>
            <td><%= pay_roll_item.salary %></td>
            <td>
              <div class="pay_roll_item_discount_update" id="pay_roll_item_discounts_<%= pay_roll_item.id %>">
                <!-- discounts value -->
                <%= pay_roll_item.discounts %>
              </div>
            </td>
            <td>
              <div class="pay_roll_item_bonus_update" id="pay_roll_item_bonuses_<%= pay_roll_item.id %>">
                <!-- bonuses value -->
                <%= pay_roll_item.bonuses %>
              </div>
            </td>
            <td><div id="pay_roll_item_total_<%= pay_roll_item.id %>"><%= pay_roll_item.total %></div></td>
            <td><%= link_to 'Destroy', pay_roll_item, method: :delete, remote: true, data: { confirm: 'Are you sure?' } %></td>
          </tr>
