<%= simple_form_for(@selection) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :event_date %>
    <%= f.input :greenhouse_id %>
    <%= f.input :product_id %>
    <%= f.input :product_variety_id %>
    <%= f.input :product_presentation_id %>
    <%= f.input :total_weight %>
    <%= f.input :selection_item_ids %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
