<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @role.company_id %>
</p>

<p>
  <strong>User ids:</strong>
  <%= @role.user_ids %>
</p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @role.description %>
</p>

<p>
  <strong>Role permission ids:</strong>
  <%= @role.role_permission_ids %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
