<p id="notice"><%= notice %></p>

<h1>Product Presentations</h1>

<div class="table-responsive">
  <table class="table table-hover dataTable table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Product</th>
        <th>Unit Type</th>
        <th>Quantity</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody id="product_presentations">
      <% @product_presentations.each do |product_presentation| %>
        <%= render "product_presentation", :product_presentation => product_presentation %>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="col-md-8">
  <%= link_to 'New Product Presentation', new_product_presentation_path, remote: true, id: 'new_product_presentation_link' %>
</div>


<br>
<div class="col-md-5" id="div_new_product_presentation_form">
  <%= simple_form_for(@product_presentation, remote: true, html: { id: 'new_product_presentation_from' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :product %>
      <%= f.association :unit_type %>
      <%= f.input :quantity %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, id: 'new_product_presentation_submit_button' %>
    </div>
  <% end %>

</div>
