<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product_presentation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product_presentation.description %>
</p>

<p>
  <strong>Harvest ids:</strong>
  <%= @product_presentation.harvest_ids %>
</p>

<p>
  <strong>Selection ids:</strong>
  <%= @product_presentation.selection_ids %>
</p>

<p>
  <strong>Sale ids:</strong>
  <%= @product_presentation.sale_ids %>
</p>

<p>
  <strong>Product:</strong>
  <%= @product_presentation.product_id %>
</p>

<%= link_to 'Edit', edit_product_presentation_path(@product_presentation) %> |
<%= link_to 'Back', product_presentations_path %>
