<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Telephone</th>
      <th>Celphone</th>
      <th>Address</th>
      <th>Contact name</th>
      <th>Email</th>
      <th>Product application buy ids</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="suppliers">
    <% @suppliers.each do |supplier| %>
      <%= render "supplier", :supplier => supplier %>
    <% end %>
  </tbody>
</table>

<br>

<div class="col-md-8">
  <%= link_to 'New Supplier', new_supplier_path, remote: true, id: 'new_supplier_link' %>
</div>


<br>
<div class="col-md-5" id="div_new_supplier_form">
  <%= simple_form_for(@supplier, remote: true, html: { id: 'new_supplier_from' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :telephone %>
      <%= f.input :celphone %>
      <%= f.input :address %>
      <%= f.input :contact_name %>
      <%= f.input :email %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, id: 'new_supplier_submit_button' %>
    </div>
  <% end %>

</div>
