<%= simple_form_for(@plan) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :company_ids %>
    <%= f.input :greenhouse_ids %>
    <%= f.input :user_ids %>
    <%= f.input :users_allowed %>
    <%= f.input :companies_allowed %>
    <%= f.input :greenhouses_allowed %>
    <%= f.input :cost_per_month_usd %>
    <%= f.input :billing %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
