<p id="notice"><%= notice %></p>

<div class="col-md-8">
  <div class="col-md-4">
    <strong><%=t :event_date %>:</strong>
    <%= @sale.event_date %>
  </div>

  <div class="col-md-4">
    <strong><%=t :product %>:</strong>
    <%= @sale.product.name %>
  </div>
</div>

<div class="col-md-8">
  <div class="col-md-4">
    <strong><%=t :product_variety %>:</strong>
    <%= @sale.product_variety.name %>
  </div>

  <div class="col-md-4">
    <strong><%=t :product_presentation %>:</strong>
    <%= @sale.product_presentation.name %>
  </div>
</div>

<div class="col-md-8">
  <div class="col-md-4">
    <strong><%=t :status %>:</strong>
    <%= @sale.status %>
  </div>
</div>

<div class="col-md-8">
    <div class="table-responsive">
      <table class="table table-hover dataTable table-striped table-bordered">
        <thead>
          <tr>
            <th><%=t :product_quality %></th>
            <th><%=t :quantity %></th>
            <th><%=t :unit_price %></th>
            <th><%=t :total_price %></th>
            <th><%=t :status %></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody id="sale_items"  data-turbolinks-temporary>
          <% @sale_items.each do |sale_item| %>
            <%= render "sale_item", :sale_item => sale_item %>
          <% end %>
        </tbody>
      </table>
    </div>

    <br>


    <div class="col-md-8">
      <%= link_to (t :add), new_sale_item_path, remote: true, id: 'new_sale_item_link' %>
      <br>
      <br>
    </div>


    <br>
    <div class="col-md-5" id="div_new_sale_item_form">
      <%= simple_form_for(@sale_item, remote: true, html: { id: 'new_sale_item_from' }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.association :sale, :as => :hidden, input_html: { value: @sale.id } %>
          <%= f.association :product_quality, label: (t :product_quality) %>
          <%= f.input :quantity, label: (t :quantity) %>
          <%= f.input :unit_price, label: (t :unit_price) %>
          <%= f.input :status, collection: [(t :payed), (:credit)] %>
        </div>

        <div class="form-actions">
          <%= f.submit (t :add), id: 'new_sale_item_submit_button', class: 'btn btn-default' %>
          <br>
          <br>
        </div>
      <% end %>

    </div>
</div>

<div class="col-md-8">
  <div class="col-md-4">
    <strong><%=t :total_price %>:</strong>
    <div id="sale_total_price"><%= @sale.total_price %></div>
  </div>
</div>



<div class="col-md-8">
  <br>
  <br>
  <br>
  <br>
  <%= link_to (t :edit), edit_sale_path(@sale) %> |
  <%= link_to (t :back), sales_path %>
</div>
